section.hidden#about
    p I'm the lucky father of twin girls, who are currently 18 months old. So as passionate as I am about web development, I'll always choose my family over working late. So if you're looking for someone willing to put in 60 hour work weeks, I'm not the right choice.

    .text-center
        img(src='img/family.png')
