section.hidden#about
    h1 When not working

    p I'm the lucky father of two year old identical twin girls. So as passionate as I am about web development, I'll always choose my family over working late. If you're looking for someone willing to put in 60 hour work weeks, I'm not the right choice.

    p If I ever get time to myself, you'll find me playing guitar on the balcony.

    .text-center
        img(src='img/family.jpg')

    br

    //- ol
        li TLOP
        li 808
        li CD
        li MBDTF
        li YZ
        li YE
        li LR
        li G
