section.hidden#home.active
  h1
    //- .fa.fa-comment
    |  Hi there! I build high-performance web applications.

  p.lead I'm an Aussie web developer based in Brisbane. I have a Software Engineering degree, and more importantly,
    strong  about 15 years of   industry experience.

  p I specialise in modern
    strong  Javascript &amp; NodeJS development
    | , but also have experience with a&nbsp;
    a.nav(href="#/skills") wide range of web technologies
    | , and always love to learn new ones.

  p
    | I have developed applications across a range of industries including e-commerce, online gaming, logistics and supply chain, education, finance, and more recently scholarly publishing and patents.
    |  More examples area available under&nbsp;
    a.nav(href='#/employment') employment
    | .

  p When not programming I'm most likely running around after my 18 month old twin&nbsp;
    a(href="#/about") daughters
    | .

  //- p Interested in working together? bla bla bla

  ul.unstyled
    li
      a(href="mailto:me@simonlang.org")
        i.fa.fa-envelope
        span  me@simonlang.org

    li
      a(href="https://github.com/simon-lang")
        i.fa.fa-github
        span  GitHub

    li
      a(href="https://www.linkedin.com/in/simon-lang-developer-brisbane/")
        i.fa.fa-linkedin
        span  LinkedIn

    li
      a(href="SimonLangResume2018.pdf")
        i.fa.fa-user
        span  Download Resume
